/*SnapForks*/
body {
 margin:0em;
}

textarea {
	background-color:#dbdbdb;
	border-radius:4px;
	border:1px solid #737373;
	display:inline-block;
	cursor:text;
	color:#000000;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
}
textarea:hover {
	background-color:#d1d1d1;
}

iframe {
 border: 1px solid black;
 border-radius: 5px;
 height: 500px;
 width: 500px;
 resize: both;
 overflow: auto;

}

a {
font-weight: bold;
color:#3e6fad;
}
a:hover {
color:#2b4d78;
}
a:active {
color:#076ae8;
}

img {
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

Button {
	background-color:#2d3142;
	border-radius:4px;
	border:1px solid #1c2c6b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
Button:hover {
	background-color:#0d0f17;
}
Button:active {
	position:relative;
	top:1px;
}


input {
	background-color:#dbdbdb;
	border-radius:4px;
	border:1px solid #737373;
	display:inline-block;
	cursor:text;
	color:#000000;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
}
input:hover {
	background-color:#d1d1d1;
}

/*Dash*/
div.dash {
background-color:#2d3142;
margin:0em;
color:white;
padding:0px;
padding-top:0px;
}
div.dash img{
background-color:white;
vertical-align: text-top;
}

div.dash a {
	background-color:#2d3142;
	border-radius:0px;
	border:0px solid #0e1633;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:20px 14px;
	text-decoration:none;
}
div.dash a:hover  {
	background-color:#23283d;
}
div.dash a:active  {
	position:relative;
	top:1px;
}
div.dash a.white {
	background-color:white;
	border-radius:4px;
	border:1px solid lightgray;
	display:inline-block;
	cursor:pointer;
	color:#23283d;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
}
div.dash a.white:hover {
	background-color: lightgrey;
}

div.dash a.white:active  {
	position:relative;
	top:1px;
}
div.dash b{
font-size:20px;
}

body {
margin:0em;
}
div.dash div.f{
padding:8px;
float:right;
}
span.dash{
border-left: 2px dashed #23283d;
}
#err-msg {
display: none;
color: red;
}
